In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_excel('Indy2.xlsx')

In [48]:
df.shape

(679, 7)

In [49]:
df.describe

<bound method NDFrame.describe of                               name  \
0                        Briergate
1             Brookwood Apartments
2    The Residences on 56th Street
3       Kingston Square Apartments
4                    Madison Lofts
..                             ...
674                2031 Sharon Ave
675                  12645 Roan Ln
676               6903 Hardwood Dr
677               1143 Stockton St
678                 343 Polaris Dr

                                              Location     Price range   High  \
0            9117 Briergate Ct, Indianapolis, IN 46229  $1,359 - 2,100  2,100
1    5301 S Turtle Creek South Dr, Indianapolis, IN...    $799 - 1,005  1,005
2        6800 Brendon Way W Dr, Indianapolis, IN 46226    $858 - 1,567  1,567
3            7171 Twin Oaks Dr, Indianapolis, IN 46226  $1,012 - 1,883  1,883
4             1430 Madison Ave, Indianapolis, IN 46225    $769 - 1,399  1,399
..                                                 ...             ...    ...
674                                                NaN              -1    NaN
675                                                NaN              -1    NaN
676                                                NaN              -1    NaN
677                                                NaN              -1    NaN
678                                                NaN              -1    NaN

    Unnamed: 4  HIGH  PinCode
0         2100  2100    46229
1         1005  1005    46227
2         1567  1567    46226
3         1883  1883    46226
4         1399  1399    46225
..         ...   ...      ...
674        NaN    -1       -1
675        NaN    -1       -1
676        NaN    -1       -1
677        NaN    -1       -1
678        NaN    -1       -1

[679 rows x 7 columns]>

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679 entries, 0 to 678
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         679 non-null    object
 1   Location     625 non-null    object
 2   Price range  679 non-null    object
 3   High         625 non-null    object
 4   Unnamed: 4   625 non-null    object
 5   HIGH         679 non-null    int64
 6   PinCode      679 non-null    int64
dtypes: int64(2), object(5)
memory usage: 37.3+ KB

In [51]:
df.sample(5)

,name,Location,Price range,High,Unnamed: 4,HIGH,PinCode
602,6745 Earlswood Dr,"6800 Brendon Way W Dr, Indianapolis, IN 46226","$858 - 1,567","1,567",1567,1567,46226
66,Trails at Lakeside,"3836 Arbor Green Ln, Indianapolis, IN 46220","$900 - 1,495","1,495",1495,1495,46220
355,7938 Island Club Dr Unit 11O.1193713,"Indianapolis, IN 46214","$1,649","1,649",1649,1649,46214
136,The Masters Apartments,"8975 Doral West Dr, Indianapolis, IN 46250","$1,178 - 1,704","1,704",1704,1704,46250
550,7109 Pluto Dr,"9117 Briergate Ct, Indianapolis, IN 46229",$925 /mo,925,925,925,46229

In [52]:
df.isnull().sum()

name            0
Location       54
Price range     0
High           54
Unnamed: 4     54
HIGH            0
PinCode         0
dtype: int64

In [53]:
df.describe()

              HIGH       PinCode
count   679.000000    679.000000
mean   1803.618557  42544.188513
std    1121.464721  12514.955371
min      -1.000000     -1.000000
25%    1385.000000  46204.000000
50%    1699.000000  46224.000000
75%    2014.500000  46239.000000
max    9239.000000  46280.000000

In [54]:
df.duplicated().sum()

0

In [55]:
df.corr()

             HIGH   PinCode
HIGH     1.000000  0.473039
PinCode  0.473039  1.000000

In [56]:
df.HIGH = df.HIGH.astype(int)

In [57]:
df.PinCode = df.PinCode.astype(int)

In [67]:
near = []  # Initialize an empty list to store rows
target_pincode = 46202  # The target pincode you want to match

for index, row in df.iterrows():
    if row['PinCode'] == target_pincode:
        name = row['name']
        location = row['Location']
        price = row['HIGH']
        near.append([name, location, price])

In [68]:
near

[['The Vue', '718 E Georgia St, Indianapolis, IN 46202', 1399],
 ['Gathyr Apartments', '1117 E Market St, Indianapolis, IN 46202', 2130],
 ['Stadium Lofts & Flats', '1501 W 16th St, Indianapolis, IN 46202', 1586],
 ['Van Rooy Downtown Leasing',
  '1030 N College Ave, Indianapolis, IN 46202',
  1755],
 ['Ralston Apartments', '1201 Indiana Ave, Indianapolis, IN 46202', 2400],
 ['Wesmont', '1515 Lewis St, Indianapolis, IN 46202', 2125],
 ['9 on Canal', '335 W 9th St, Indianapolis, IN 46202', 3275],
 ['Canal Square', '359 N West St, Indianapolis, IN 46202', 2249],
 ['Wesley Place', '75 W 18th St, Indianapolis, IN 46202', 2121],
 ['The Assembly', '1301 E Washington St, Indianapolis, IN 46202', 1950],
 ['Lockerbie Lofts', '640 E Michigan St, Indianapolis, IN 46202', 2581],
 ['Cosmopolitan on the Canal',
  '310 W Michigan St, Indianapolis, IN 46202',
  2710],
 ['632 MLK Apartments',
  '632 Dr Martin Luther King Jr St, Indianapolis, IN 46202',
  3060],
 ['Nine+Eighteen', '918 Fort Wayne Ave, Indianapolis, IN 46202', 2711],
 ['Delaware Court Apartments',
  '1001 N Delaware St, Indianapolis, IN 46202',
  1150],
 ['747 Apartments', '747 N College Ave, Indianapolis, IN 46202', 4715],
 ['Wyndham on Delaware', '1040 N Delaware St, Indianapolis, IN 46202', 1350],
 ['Maryden on Central', '1308 Central Ave, Indianapolis, IN 46202', 1200],
 ['Canal Overlook Apartments',
  '430 N Indiana Ave, Indianapolis, IN 46202',
  2554],
 ['The Waverley', '140 Pope St, Indianapolis, IN 46202', 6506],
 ['Gardens of Canal Court',
  '434 Canal Court South Dr, Indianapolis, IN 46202',
  1633],
 ['Lockefield Gardens', '737 Lockefield Ln, Indianapolis, IN 46202', 1329],
 ['2131 North', '2131 N Meridian St, Indianapolis, IN 46202', 1550],
 ['Priscilla on Pennsylvania',
  '1309 N Pennsylvania St, Indianapolis, IN 46202',
  875],
 ['Circle City Apartments',
  '1321 N Meridian St, Indianapolis, IN 46202',
  2185],
 ['The Avenue', '930 W 10th St, Indianapolis, IN 46202', 3000],
 ['155 - ST AGNES ACADEMY APARTMENTS',
  '1350 N Meridian St, Indianapolis, IN 46202',
  795],
 ['950 N California St', 'Indianapolis, IN 46202', 3500],
 ['434 Canal Ct S Dr Unit 323.5977', 'Indianapolis, IN 46202', 1837],
 ['434 Canal Ct S Dr Unit 372.743330', 'Indianapolis, IN 46202', 1817],
 ['335 W 9th St Unit 906.10432', 'Indianapolis, IN 46202', 1895],
 ['335 W 9th St Unit 0903.863135', 'Indianapolis, IN 46202', 1825],
 ['7650 Scatter Woods Ln', 'Indianapolis, IN 46202', 1435],
 ['3306 Capsella Ln', 'Indianapolis, IN 46202', 1895],
 ['10776 Albertson Dr', 'Indianapolis, IN 46202', 1735],
 ['640 Ashford Dr', 'Indianapolis, IN 46202', 3780],
 ['1536 Pleasant St', 'Indianapolis, IN 46202', 2730],
 ['4249 Village Bend Dr', '718 E Georgia St, Indianapolis, IN 46202', 1395],
 ['4130 N Riley Ave', '1117 E Market St, Indianapolis, IN 46202', 1785],
 ['5859 Annapolis Dr', '718 E Georgia St, Indianapolis, IN 46202', 1700],
 ['5237 Manning Rd', '1117 E Market St, Indianapolis, IN 46202', 1475],
 ['8908 Mallard Green Dr', '718 E Georgia St, Indianapolis, IN 46202', 1399],
 ['5346 W Red River Ct', '1117 E Market St, Indianapolis, IN 46202', 2130]]

In [69]:
len(near)

43

In [70]:
final_near_cheapest = sorted(near, key=lambda x:x[2])

In [71]:
final_near_cheapest

[['155 - ST AGNES ACADEMY APARTMENTS',
  '1350 N Meridian St, Indianapolis, IN 46202',
  795],
 ['Priscilla on Pennsylvania',
  '1309 N Pennsylvania St, Indianapolis, IN 46202',
  875],
 ['Delaware Court Apartments',
  '1001 N Delaware St, Indianapolis, IN 46202',
  1150],
 ['Maryden on Central', '1308 Central Ave, Indianapolis, IN 46202', 1200],
 ['Lockefield Gardens', '737 Lockefield Ln, Indianapolis, IN 46202', 1329],
 ['Wyndham on Delaware', '1040 N Delaware St, Indianapolis, IN 46202', 1350],
 ['4249 Village Bend Dr', '718 E Georgia St, Indianapolis, IN 46202', 1395],
 ['The Vue', '718 E Georgia St, Indianapolis, IN 46202', 1399],
 ['8908 Mallard Green Dr', '718 E Georgia St, Indianapolis, IN 46202', 1399],
 ['7650 Scatter Woods Ln', 'Indianapolis, IN 46202', 1435],
 ['5237 Manning Rd', '1117 E Market St, Indianapolis, IN 46202', 1475],
 ['2131 North', '2131 N Meridian St, Indianapolis, IN 46202', 1550],
 ['Stadium Lofts & Flats', '1501 W 16th St, Indianapolis, IN 46202', 1586],
 ['Gardens of Canal Court',
  '434 Canal Court South Dr, Indianapolis, IN 46202',
  1633],
 ['5859 Annapolis Dr', '718 E Georgia St, Indianapolis, IN 46202', 1700],
 ['10776 Albertson Dr', 'Indianapolis, IN 46202', 1735],
 ['Van Rooy Downtown Leasing',
  '1030 N College Ave, Indianapolis, IN 46202',
  1755],
 ['4130 N Riley Ave', '1117 E Market St, Indianapolis, IN 46202', 1785],
 ['434 Canal Ct S Dr Unit 372.743330', 'Indianapolis, IN 46202', 1817],
 ['335 W 9th St Unit 0903.863135', 'Indianapolis, IN 46202', 1825],
 ['434 Canal Ct S Dr Unit 323.5977', 'Indianapolis, IN 46202', 1837],
 ['335 W 9th St Unit 906.10432', 'Indianapolis, IN 46202', 1895],
 ['3306 Capsella Ln', 'Indianapolis, IN 46202', 1895],
 ['The Assembly', '1301 E Washington St, Indianapolis, IN 46202', 1950],
 ['Wesley Place', '75 W 18th St, Indianapolis, IN 46202', 2121],
 ['Wesmont', '1515 Lewis St, Indianapolis, IN 46202', 2125],
 ['Gathyr Apartments', '1117 E Market St, Indianapolis, IN 46202', 2130],
 ['5346 W Red River Ct', '1117 E Market St, Indianapolis, IN 46202', 2130],
 ['Circle City Apartments',
  '1321 N Meridian St, Indianapolis, IN 46202',
  2185],
 ['Canal Square', '359 N West St, Indianapolis, IN 46202', 2249],
 ['Ralston Apartments', '1201 Indiana Ave, Indianapolis, IN 46202', 2400],
 ['Canal Overlook Apartments',
  '430 N Indiana Ave, Indianapolis, IN 46202',
  2554],
 ['Lockerbie Lofts', '640 E Michigan St, Indianapolis, IN 46202', 2581],
 ['Cosmopolitan on the Canal',
  '310 W Michigan St, Indianapolis, IN 46202',
  2710],
 ['Nine+Eighteen', '918 Fort Wayne Ave, Indianapolis, IN 46202', 2711],
 ['1536 Pleasant St', 'Indianapolis, IN 46202', 2730],
 ['The Avenue', '930 W 10th St, Indianapolis, IN 46202', 3000],
 ['632 MLK Apartments',
  '632 Dr Martin Luther King Jr St, Indianapolis, IN 46202',
  3060],
 ['9 on Canal', '335 W 9th St, Indianapolis, IN 46202', 3275],
 ['950 N California St', 'Indianapolis, IN 46202', 3500],
 ['640 Ashford Dr', 'Indianapolis, IN 46202', 3780],
 ['747 Apartments', '747 N College Ave, Indianapolis, IN 46202', 4715],
 ['The Waverley', '140 Pope St, Indianapolis, IN 46202', 6506]]

In [72]:
col_names = ['Name','Location', 'Price']
df=pd.DataFrame(final_near_cheapest, columns = col_names)

In [73]:
df.head()

,Name,Location,Price
0,155 - ST AGNES ACADEMY APARTMENTS,"1350 N Meridian St, Indianapolis, IN 46202",795
1,Priscilla on Pennsylvania,"1309 N Pennsylvania St, Indianapolis, IN 46202",875
2,Delaware Court Apartments,"1001 N Delaware St, Indianapolis, IN 46202",1150
3,Maryden on Central,"1308 Central Ave, Indianapolis, IN 46202",1200
4,Lockefield Gardens,"737 Lockefield Ln, Indianapolis, IN 46202",1329

In [74]:
df.to_excel(r'Indy_fin.xlsx', index=False)